:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --main-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* ----------------HEADER------------- */
.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

/* ----------------HERO------------- */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
}

/* ----------------ADVENTAGE------------- */

.adventage-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.adventage-text {
  line-height: 1.71;
}

/* ----------------ACTIVITY------------- */
.activity-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-color);
}

.team-after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
}

/* ----------------FOOTER------------- */
.footer {
  background: #2f303a;
}
.footer-web,
.footer-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.footer-studio {
  color: #ffffff;
}
.footer-link-address {
  line-height: 1.71;
  font-style: normal;
  color: #ffffff;
}
.footer-link {
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* ----------------PORTFOLIO------------- */

.project-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-color);
}

.project-btn-item :hover,
.project-btn-item :focus {
  background-color: #2196f3;
  color: #ffffff;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
}
